* {
  overflow:hidden;
  font-family: 'Quicksand', sans-serif;
}

.App {
  background-color: #D6E6F1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #494949;
  transition: 1s;

}


h1 {
  margin:0px;
}





